.DS_store

# Testing Outputs
testing_materials/example_outputs/0.25/*
testing_materials/example_outputs/0.50/*
testing_materials/example_outputs/0.75/*
testing_materials/example_outputs/0.90/*

# Python
src/prioritization/__pycache__
src/reader/__pycache__
src/summary_statistics/__pycache__
*pyc

# Output
output/*

# Data
data/*
